<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="color.css">
    <title>Color Game</title>
</head>
<body>

<h1>Guess The <span id="colorDisplay">RGB</span> Color</h1>
<h2></h2>

    <div id="container">

    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>

</div>



<script type="text/javascript" src="test.js"></script>
</head>
<body>
